* { /* `otf-font-awesome` is required to be installed for icons */
    border: none;
    font-family: Material Design Icons,FontAwesome,Product Sans,JetBrainsMono Nerd Font;
    font-size: 14px;
    color: #eeeeee;
    /* border-radius: 20px; */
}

window {
}
window#waybar {
  background: rgba(8, 8, 8, .45);
	border-radius: 7px;
  transition-property: background-color;
  transition-duration: 0.5s;
    /* background: transparent; */
}
/*-----module groups----*/
.modules-right {
	/* background-color: rgba(8,8,8,0.85); */
    background: transparent;
    margin: 0 -12px 0 0;
    border-radius: 20px;
}
.modules-center {
    background: transparent; 
    margin: 0 0 0 0;
    border-radius: 20px;
}
.modules-left {
    background: transparent;
    margin: 0 0 0 -12px;
    border-radius: 20px;
}

tooltip {
  background: #323437;
  color: #eeeeee;
  border-radius: 10px;
}

#workspaces {
	padding: 0 14px;
}
/*-----modules indv----*/
#workspaces button {
    padding: 1px 5px;
    background-color: transparent;
    font-family:Jetbrains Nerd Font;
}
#workspaces button:hover {
    box-shadow: inherit;
	background-color: #babbf1;
	color: #080808;
}

#workspaces button.focused {
	background-color: #85c1dc;
}

#workspaces button.active {
	background-color: #abadc8;
}

#custom-sep {
	color: #424447;
	font-size: 18px;
}

#window {
    color:#eeeeee;
    font-family: JetbrainsMono Nerd Font;
    font-size: 12;
}

#custom-recorder {
  font-size: 10px;
  margin: 2px 7px 0px 7px;
}

#clock {
    margin: 2px 0 0 0;
    padding: 2px;
    border-radius: 10px;
    font-family: JetbrainsMono Nerd Font;
}

#battery,
#cpu,
#memory,
#temperature, 
#network
#pulseaudio,
#tray,
#mode,
#custom-power,
#custom-menu,
#idle_inhibitor {
    padding: 0 5px;
}

#mode {
    color: #cc3436;
    font-weight: bold;
}

/*-----Indicators----*/
#network.disconnected {
	color: #ff5454;
}
#network.disabled {
	color: #e3c78a;
}
#idle_inhibitor.activated {
    color: #2dcc36;
}
#pulseaudio.muted {
    color: #e3c78a;
}
#battery.charging {
    color: #8cc85f;
}
#battery.warning:not(.charging) {
	color: #e3c78a;
}
#battery.critical:not(.charging) {
    color: #ff5454;
}
