@define-color background rgba(0, 0, 0, 0.65);
@define-color foreground rgb(220, 220, 220);
@define-color outline rgba(255, 255, 255, 0.15);
@define-color accent rgb(226, 204, 219);
@define-color button rgba(0, 0, 0, 0.5);
@define-color highlight rgba(255, 255, 255, 0.1);

* {
	background-image: none;
	background:none;
	border:none;
	border-radius: 0;
}
window {
	background-color: @background;
	margin:5em;
}
button {
	margin: .25rem;
    font-weight:normal;
    box-shadow: inset 0rem 0px rgba(0, 0, 0, 0);
    transition: box-shadow .30s ease-in-out, background-color .30s ease-in-out;
	background-color: @button;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 20%;
}

button:focus, button:active, button:hover {
	background-color: @highlight;
    border: 1px solid @outline;
    box-shadow: inset 0rem -0.2em @accent;
}

#lock {
    background-image: image(url("/usr/share/wlogout/icons/lock.png"), url("/usr/local/share/wlogout/icons/lock.png"));
}

#logout {
    background-image: image(url("/usr/share/wlogout/icons/logout.png"), url("/usr/local/share/wlogout/icons/logout.png"));
}

#suspend {
    background-image: image(url("/usr/share/wlogout/icons/suspend.png"), url("/usr/local/share/wlogout/icons/suspend.png"));
}

#hibernate {
    background-image: image(url("/usr/share/wlogout/icons/hibernate.png"), url("/usr/local/share/wlogout/icons/hibernate.png"));
}

#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
}

#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
}